html {
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#chromepls {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 150ms ease-in;
    opacity: 1;
}

#chromepls.itsokay {
    opacity : 0;
}

#chromepls > span {
    text-align: center;
    cursor: default;
    font-size: 3rem;
}

#patoche {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#patoche > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#rainbow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;    
    opacity: .2;
    background: linear-gradient(to bottom, orange , yellow, green, cyan, blue, violet, orange , yellow, green, cyan, blue, violet, orange); /* Standard syntax (must be last) */
    animation: spin 1.5s linear infinite;  
    z-index: 2;
}

@keyframes spin {
    from {
    transform: scale3d(2, 2, 1) translateY(0);
    }
    to {
    transform: scale3d(2, 2, 1) translateY(-100vh);
    }
}

#mentions {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    cursor: pointer;
}

#credits {
    position: absolute;
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px gray;
}

#credits.hidden {
    display: none;
}

#credits > h1 {
    margin: 0;
}